.container-2{
 height: 434px;   
 width: 474px;
 padding: 80px 100px 80px 0px;
}
.tt{
    display: flex;
    background-color: #C6E4D6;
    margin: 10px 160px 80px 160px;
    background-size: auto;
    gap: 100px;
}
.container-1{
    height: 326px;
    width: 622px;
    padding: 134px 0px 134px 59px;
    /* gap: 100px; */
}

  
.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight:medium;
  font-size: 24px;
  font-style: normal;
}
.Text{
    background-color:#006A50;
    display:inline-block;
    height: 56px;
    width: 270px;
    color: white;
    margin: none;
    border: none;
    border-radius: 8px;
}
.idea{
    /* padding: 24px; */
    font-size: 56px;
    font-weight: 800;
}
.learn-1{
    height: 41px;
    width: 122px;
    color: white;
    background-color: #5490F5;
    border-radius: 8px;
    display: inline-block;
    margin: none;
    border: none;
    /* padding-left: 32px; */
}
.learn-2{
    height: 41px;
    width: 122px;
    color: white;
    background-color:#09A15C;
    border-radius: 8px;
    display: inline-block;
    margin: none;
    border: none;
    /* padding-left: 32px; */
}
.learn-3{
    height: 41px;
    width: 122px;
    color: white;
    background-color:#FFC239;
    border-radius: 8px;
    display: inline-block;
    margin: none;
    border: none;
    /* padding-left: 24px; */
}
.first{
    background-color:#326ED2;
    border-radius: 16px;
}
.second{
    background-color:#C6E4D6;
    border-radius: 16px;
}
.third{
    background-color: #F7EBCF;
    border-radius: 16px;

}
.between{
   display: flex; 
   justify-content: space-between;
   gap: 24px;
   border-radius: 16px;
}
.next{
    height: auto;
    width: 1280px;
    padding: 80px 160px;
    font-family: "Open Sans", serif;
          font-optical-sizing: auto;
          font-weight:800;
          font-style: normal;
          font-variation-settings:
            "wdth" 100;
        }
      
/* .modern{
    font-size:40px;
    font-weight: 800; */
    
/* } */
.vision{
    font-size: 40px;
    font-weight: 800;
}
.lorem{
    margin-top: 32px 160px 80px 32px;
    background-image: url(/B11A1--assignment-1/assets/quote-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    justify-content: start;
    background-color: #FFFFFF;
    border-radius: 16px solid white;
}
.third-part{
    height: 120px;
    width: 1280px;
    padding: 80px 160px 32px 160px;
}
.news{
    font-size: 40px;
    font-weight: 700;
    gap: 24px;
}
.bangladesh{

    font-size: 16px;
    font-weight: 400;
}
.more{
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
    height: 48px;
    width: 139;
    color: white;
    border: none;
}
.lower-part,.lower-part2{
    display: flex;
    margin: 32px 160px 0px 160px;
    justify-content: space-between;
    gap: 32px;
}
.date{
    display: flex;
    gap: 10px;
}
.bangla{
    height: 290px;
    width: 744px;

}
.lower-part2{
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    gap: 32px;
}
.amount{
    display: flex;
    gap: 24px;
    padding: 32px 104px 32px 104px;
    justify-content:space-between;
    background-color: #FFFFFF;
    height: 128px;
    width: 1071px;
}
.donate{
    height: 464px;
    width: 1280px;
    padding: 80px 160px;
}
.today{
    justify-items: center;
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.input{
    /* display: inline-block; */
    color: #FFFFFF;
    width: 1032px;
    height: 64px;
    border: solid white;
    gap: 24;
     padding: 20px 40px;
    
}
.mm{
    text-align: center;
    margin-bottom: 32px;
}
.bb{
    /* height: 48px;
    width: 120px; */
    margin-top: 24px;
    border: 0px 160px;
}
.text{
    display: inline;
}
.H1 {
    height: 48px;
    width: 160px;
    border-radius: 16px;
    border: 1px solid;
    padding: 40px;
    justify-content: center;
    border-radius: 16px;
}
.H2{
  padding: 40px;
  border-width: 160px;
  border: 1px solid;
  height: 48px;
  background-color: #C6E4D6;
  border-radius: 16px;
  width: 160px;
}
.H3{
    padding: 40px;
  border-width: 160px;
  border: 1px solid;
  height: 48px;
  border-radius: 16px;
  width: 160px;
}
.H4{
    padding: 40px;
  border-width: 160px;
  border: 1px solid;
  height: 48px;
  border-radius: 16px;
  width: 160px;
}
.tumi{
    justify-content: center;
}